.mat-sidenav {
  width: 225px;
  box-shadow: -1px 0px 10px;
}

.sidenav-container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}

.sidenav-content, .sidenav-content {
  padding: 10px;
}
