<div class="container">
  <ol class="app-breadcrumb">
    <li><a [routerLink]="['']">Home</a></li>
    <li class="divider"> / </li>
    <li>Create Message</li>
  </ol>

  <form>
    <mat-form-field>
      <mat-label>User</mat-label>
      <input matInput placeholder="" value="" disabled name="userName" [(ngModel)]="message.user.name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Message..." value="" autofocus name="messageText" [(ngModel)]="message.text"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="submitBtnClicked()">Submit</button>
  </form>
</div>
